@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root * {
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 15px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url("images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow: hidden;
  background-color: white;
  text-align: center;
  padding-inline: 5%;
}
h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
}

.history .--info,
.snippets .--info,
.accessClipboad .--info,
.download .--info {
  max-width: 68ch;
}
.--info {
  color: var(--GrayishBlue);
}
.--cta {
  cursor: pointer;
  display: block;
  color: white;
  text-decoration: none;
  padding: 1.1rem;
  border-radius: 20px;
  background-color: var(--StrongCyan);
  box-shadow: 1px 10px 15px -6px var(--StrongCyan);
}

.--cta.--lightBlue {
  background-color: var(--LightBlue);
  box-shadow: 1px 5px 15px -6px var(--Dark-Grayish-Blue);
}

img {
  max-width: 100%;
}

/* ! history section ========================= */
.history {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history .logo {
  margin-block: 5rem;
}

.history .--info {
  margin-block: 1.5rem 3rem;
}

.history .--cta {
  margin-top: 1.5rem;
  /*  */
}

/* !   snippets section ===================== */
.snippets {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snippets > .--info {
  margin-block: 1.5rem 3rem;
}
.snippets img {
  margin-bottom: 3rem;
}
.snippets .feature_items .--info {
  margin-block: 1rem 3rem;
}

/* ! accessClipboad ==========================*/

.accessClipboad {
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accessClipboad .--info {
  margin-block: 1.5rem 3rem;
}

/* !  workflow =============================== */
.workflow {
  margin-bottom: 7rem;
}
.workflow > .--info {
  margin-block: 1.5rem 3rem;
}

.wokflow_features .feature .--info {
  margin-top: 1.5rem;
}
.wokflow_features .feature img {
  margin-block: 3.5rem;
}

/* ! partners ============================== */

.partners {
  margin-bottom: 10rem;
}

.partners ul {
  display: grid;
  justify-content: center;
  gap: 3rem;
}

/* ! clipbaod download ================ */
.download {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download .--info {
  margin-block: 1.5rem 3rem;
}
.download .--cta {
  margin-top: 1.5rem;
}

/* ! footer ========================= */
footer {
  width: 100%;
  background: hsla(198, 42%, 91%, 0.348);
  padding-inline: 5%;
  padding-block: 2rem;
  color: var(--GrayishBlue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /*  */
}

footer .logo {
  max-width: 50px;
  align-self: center;
}

footer li {
  margin-block: 2rem;
}
footer li:hover {
  color: var(--StrongCyan);
  cursor: pointer;
}
footer .social_icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

footer .social_icons img {
  width: 20px;
  cursor: pointer;
}

@media (min-width: 583px) {
  .container {
    background-image: url("images/bg-header-desktop.png");
  }

  .download_wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .download_wrapper .--cta {
    margin-top: 0;
    padding: 1rem 2.5rem;
    /*  */
  }

  .partners ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .wokflow_features {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  footer li {
    margin-block: 0;
  }

  footer ul {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 970px) {
  html {
    font-size: 18px;
  }
  .partners ul {
    grid-template-columns: repeat(5, 1fr);
  }
  .wokflow_features {
    grid-template-columns: repeat(3, 1fr);
  }
  .snippet_features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 0px;
    position: relative;
    align-items: center;
  }

  .snippet_features img {
    transform: translateX(-20%);
    max-width: 500rem;
  }

  .snippets .feature_items .--info {
    max-width: 35ch;
    /* margin-block: 0.5rem 1.5rem; */
  }
}
